# 설정파일
.env

# resource 파일들
**/src/

# cache
**/.idea


# pycache
**/__pycache__/

# data
app/data
gpu/elert/combined_data.csv
gpu/elert/prediction_results_minute.json
gpu/bertfinetune/train_set.xlsx
gpu/bertfinetune/train_data.pkl